@import '../utils/variables';

.button {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  transition: all 300ms ease-in-out;
  border-radius: 2px;
  &:hover {
    background-color: var(--primary);
    color: var(--white-text);
    border: 2px solid transparent;
  }
}
