@import '../../utils/config';

.article {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 48px 0;
  max-width: 100vw;
  overflow: hidden;
  & > * {
    width: 100%;
    padding: 12px 0;
  }
  .headerImage {
    padding: 32px 0;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .date {
    text-align: left;
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--article-opaque-text);
    font-family: 'Merriweather', serif;
  }
  .topicTitle {
    font-weight: bold;
  }
  .primary_topicTitle {
    font-size: 1.35rem;
  }
  .secondary_topicTitle {
    font-size: 1.25rem;
  }
  .tertiary_topicTitle {
    font-size: 1.15rem;
  }
  .small_text {
    font-size: 0.75rem;
  }
  .regular_text {
    font-size: 1rem;
  }
  .paragraph {
    text-align: justify;
    font-family: 'Merriweather', serif;
  }
  .centered_paragraph {
    display: flex;
    justify-content: center;
  }
  .list {
    padding-left: 16px;
  }
  .list_greek {
    list-style-type: upper-greek;
  }
  .list_roman {
    list-style-type: upper-roman;
  }
  .list_latin {
    list-style-type: lower-latin;
  }
  .list_disc {
    list-style-type: square;
  }
  .list_circle {
    list-style-type: disc;
  }
  .list_item {
    padding: 6px 0 6px 8px;
    text-align: left;
  }
  .table_head {
    font-weight: bold;
  }
  .table_cell {
    text-align: left;
    padding: 4px 8px;
  }
  .table,
  .table_cell {
    border: 2px solid var(--contrast-background);
  }
  .reference_link {
    color: var(--primary-darker);
    word-break: break-all;
    transition: all 300ms ease-in-out;
    &:visited {
      color: var(--primary-darker);
    }
    &:hover {
      color: var(--primary);
    }
  }
  .separator {
    height: 2px;
    width: 100%;
    background-color: var(--article-opaque-item);
    padding: 0;
    margin: 12px 0;
  }
  @include media-md {
    .headerImage {
      padding: 12px 0;
      width: 65vw;
      transform: scale(1);
    }
    .list_item {
      text-align: justify;
    }
  }
  @include media-lg {
    & > * {
      padding: 32px 96px;
    }
    .headerImage {
      width: 45vw;
    }
    .title {
      font-size: 1.75rem;
    }
    .primary_paragraph {
      padding: 16px 96px;
    }
    .secondary_paragraph {
      padding: 16px 96px 16px 160px;
    }
    .list {
      padding-left: 24px;
    }
    .list_item {
      padding: 8px 0 8px 24px;
    }
    .separator {
      margin: 32px 0;
    }
  }
  @include media-xl {
    & > * {
      padding: 32px 160px;
    }
    .primary_paragraph {
      padding: 16px 160px;
    }
    .secondary_paragraph {
      padding: 16px 160px 16px 224px;
    }
  }
}
