@import '../../utils/variables';
@import '../../utils/config';
@import '../../utils/mixins';

.form {
  display: grid;
  grid-template:
  "name"
  "lastName"
  "email"
  "subject"
  "text"
  "button";
  align-content: center;
  gap: 24px;
  width: 100%;
  @include media-md {
    grid-template:
    "name lastName"
    "email email"
    "subject subject"
    "text text"
    "button button" / 1fr 1fr;
    gap: 24px 48px;
  }
}

.form__group {
  display: flex;
  flex-flow: column;
  label {
    font-size: 16px;
    padding-bottom: 16px;
    @include media-md {
      font-size: 18px;
    }
  }
  input {
    padding: 6px 12px;
    width: 100%;
    min-height: 40px;
  }
  input, textarea {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    box-shadow: 1px 1px 1px 1px var(--weak-shadow);
    border-radius: 2px;
    &:focus {
      box-shadow: 1px 1px 3px 1px var(--weak-shadow);
    }
    &[id="submit"] {
      font-size: 18px;
      font-family: 'Source Code Pro', monospace;
      &:focus {
        box-shadow: none;
      }
    }
  }
  p {
    color: var(--default-red);
    margin: 5px;
  }
}

.form__name {
  grid-area: name;
}
.form__lastName {
  grid-area: lastName;
}
.form__email {
  grid-area: email;
}
.form__subject {
  grid-area: subject;
}
.form__text {
  grid-area: text;
  .input {
    min-height: 384px;
    padding: 16px;
    resize: vertical;
    @include media-md {
      min-height: 256px;
    }
  }
}

.form__button {
  grid-area: button;
  padding-top: 16px;
  .input {
    font-weight: 600;
    cursor: pointer;
    padding: 12px 12px;
  }
}
