@import '../../utils/variables';
@import '../../utils/config';
@import '../../utils/mixins';

.contactInfo {
  width: 100%;
  display: grid;
  justify-content: space-around;
  justify-items: center;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(256px, 384px));
  gap: 32px;
  @include media-lg {
    gap: 48px;
  }
}

.card__link, .card__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  color: var(--contrast-text);
  background-color: transparent;
  transition: all 300ms ease-in-out;
  &:hover {
    color: var(--primary);
  }
  @include media-sm {
    font-size: 0.95rem;
  }
  div {
    padding: 10px 5px;
  }
}

.card__link {
  padding: 20px;
}

.card__button div {
  padding: 10px 5px;
}
