@import '../../utils/config';

.project__text {
  & div {
    text-align: center;
    padding: 8px 0;
    font-weight: 600;
  }
  .subject {
    font-size: 18px;
  }
  .description {
    font-weight: 400;
    text-align: justify;
    @include media-md {
      text-align: center;
    }
  }
}
