@import '../../utils/config';

.about__text {
  .title {

  }
  .subtitle {

  }
  .description {
    font-weight: 400;
    text-align: justify;
    @include media-md {
      text-align: center;
    }
  }
  .period {

  }
}

.about__text div {
  text-align: center;
  padding: 8px 0;
  font-weight: 600;
}
