@import '../../utils/variables';
@import '../../utils/config';
@import '../../utils/mixins';

.skills__content {
  width: 100%;
  display: flex;
  flex-flow: column;
  .name {
    font-size: 18px;
    align-self: flex-start;
    margin: 16px 0;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr;
    margin: 32px 0;
    @include media-md {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-lg {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @include media-lg {
    padding: 0 48px;
  }
}
