.error {
    font-size: 1rem;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    div {
        padding: 6px;
    }
    .errorImage {
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        background-image: url("/icons/error/warning-128px.png");
        background-size: 128px 128px;
        width: 128px;
        height: 128px;
        justify-self: center;
    }
    .errorCode {
        font-size: 2rem;
    }
}
