@import '../utilities/variables';
@import '../utilities/config';
@import '../utilities/mixins';

%section {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: map-get($color, background);
}

// Header Section

.header {
  @extend %section;
  justify-content: flex-end;
}

.header__content {
  flex: 4;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  .content__title {
  }
  .content__terminal {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    color: map-get($color, primary);
    .terminal__wd,
    .terminal__command {
      color: map-get($color, regular-text);
    }
    .terminal__underslash {
      color: map-get($color, primary);
      &_active {
        animation: terminal-underslash-animation 600ms cubic-bezier(1, 0.1, 0.1, 1) infinite
          alternate;
      }
      &_disabled {
        animation: none;
      }
    }
  }
  @include media-sm {
    font-size: 16px;
  }
  @include media-lg {
    font-size: 20px;
    .content__terminal {
      flex-flow: row;
      .terminal__command {
        margin-left: 10px;
      }
    }
  }
}

@keyframes terminal-underslash-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header__arrow {
  flex: 1;
  display: flex;
  align-items: center;
  .arrow__button {
    cursor: pointer;
    @extend %backgroundConfigs;
    width: 32px;
    height: 32px;
    background-size: 24px;
    animation: arrow-animation 700ms ease-in-out infinite alternate;
    background-image: url('../../public/icons/black-arrow-48px.png');
    @include media-lg {
      width: 48px;
      height: 48px;
      background-size: 30px;
    }
  }
}

@keyframes arrow-animation {
  from {
    transform: scale(1.15) rotate(90deg) translateX(8px);
    opacity: 1;
  }

  to {
    transform: scale(1) rotate(90deg);
    opacity: 0.5;
  }
}

// Presentation Section

.presentation {
  @extend %section;
  justify-content: space-evenly;
}

.presentation__title {
  flex: 1;
  height: 48px;
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  @include media-md {
    padding: 0 48px;
  }
}

.presentation__content {
  flex: 7;
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
  }
  .content__image {
    border-radius: 50%;
    width: 128px;
    height: 128px;
  }
  .content__text {
    text-align: start;
    font-size: 16px;
    margin: 16px 0;
  }
  .content__button {
    cursor: pointer;
    padding: 6px 12px;
    margin: 16px 0;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    background-color: transparent;
    color: map-get($color, primary);
    border: 2px solid map-get($color, primary);
    &:hover {
      background-color: map-get($color, primary);
      color: map-get($color, white-text);
      border: 2px solid transparent;
    }
  }
  @include media-sm {
    .content__image {
      width: 164px;
      height: 164px;
    }
    .content__text,
    .content__button {
      margin: 32px 0;
    }
  }
  @include media-md {
    .content__image {
      width: 196px;
      height: 196px;
    }
    .content__text,
    .content__button {
      margin: 48px 0;
    }
    .content__text {
      font-size: 18px;
    }
    .content__button {
      font-size: 20px;
    }
  }
  @include media-lg {
    flex-flow: row;
    padding: 0 64px;
    .content__image,
    & > div {
      margin: 0 48px;
    }
  }
}
