@import "@/styles/utils/variables";
@import "@/styles/utils/config";
@import "@/styles/utils/mixins";

.skills__content {
    width: 100%;
    display: flex;
    flex-flow: column;
    .name {
        font-size: 1.2rem;
        align-self: flex-start;
        margin: 16px 0;
    }
    .skills {
        display: grid;
        margin: 32px 0;
        grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
    }
    @include media-lg {
        padding: 0 48px;
    }
}
