.dark {
  --primary: #549ecf;
  --primary-darker: #3b8dc4;
  --white-text: #fafafa;
  --weak-shadow: rgba(26, 31, 39, 0.15);
  --regular-shadow: rgba(26, 31, 39, 0.3);
  --default-green: #6db16b;
  --default-red: #ec3535;
  --navbar: #252b33;
  --background: #1a1f27;
  --contrast-background: #fafafa;
  --card-background: #252b33;
  --regular-text: #fafafa;
  --contrast-text: #0a0a0a;
  --article-card-opaque-text: #b4b4b4;
  --article-opaque-text: #919191;
  --article-opaque-item: rgba(145, 145, 145, .7);
  --header-arrow-img: url('../../public/icons/header/white-arrow-48px.png');
  --navbar-menu-bars: url('../../public/icons/navbar/white-menu-3bars-48px.png');
  --navbar-close-menu: url('../../public/icons/navbar/white-x-48px.png');
  --footer-github-icon: url('../../public/icons/footer/github-white-64px.png');
  --footer-linkedin-icon: url('../../public/icons/footer/linkedin-64px.png');
}
