.light {
  --primary: #a47dff;
  --white-text: #f5f5f5;
  --special-text: #04d361;
  --weak-shadow: rgba(12, 12, 12, 0.15);
  --regular-shadow: rgba(12, 12, 12, 0.3);
  --default-green: #6db16b;
  --default-red: #ec3535;
  --background: #f5f5f5;
  --contrast-background: #121212;
  --card-background: #e4e4e4;
  --regular-text: #121212;
  --contrast-text: #f5f5f5;
  --header-arrow-img: url('../../public/icons/header/black-arrow-48px.png');
  --navbar-menu-bars: url('../../public/icons/navbar/black-menu-3bars-48px.png');
  --navbar-close-menu: url('../../public/icons/navbar/black-x-48px.png');
  --footer-github-icon: url('../../public/icons/footer/github-black-32px.png');
  --footer-linkedin-icon: url('../../public/icons/footer/linkedin-32px.png');
}
