.light {
    --primary: #549ecf;
    --primary-darker: #3b8dc4;
    --white-text: #fcfcfc;
    --weak-shadow: rgba(26, 31, 39, 0.15);
    --regular-shadow: rgba(26, 31, 39, 0.3);
    --default-green: #6db16b;
    --default-red: #ec3535;
    --navbar: #ffffff;
    --background: #fcfcfc;
    --contrast-background: #1a1f27;
    --card-background: #dbdbdb;
    --regular-text: #0a0a0a;
    --contrast-text: #fcfcfc;
    --article-card-opaque-text: #616161;
    --article-opaque-text: #858585;
    --article-opaque-item: #858585bd;
    --header-arrow-img: url("/icons/header/black-arrow-48px.png");
    --navbar-menu-bars: url("/icons/navbar/black-menu-3bars-48px.png");
    --navbar-close-menu: url("/icons/navbar/black-x-48px.png");
    --footer-github-icon: url("/icons/footer/github-black-64px.png");
    --footer-linkedin-icon: url("/icons/footer/linkedin-64px.png");
}
