@import '../../utils/variables';
@import '../../utils/config';
@import '../../utils/mixins';

// Header Section

.header {
  @include flexSection(flex-end);
  height: 100vh;
}

.header__content {
  flex: 4;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  .content__title {
  }
  .content__terminal {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    color: map-get($colors, primary);
    .terminal__wd,
    .terminal__command {
      color: map-get($light-colors, regular-text);
      &_darkMode {
        color: map-get($dark-colors, regular-text);
      }
    }
  }
  @include media-sm {
    font-size: 16px;
  }
  @include media-lg {
    font-size: 20px;
    .content__terminal {
      flex-flow: row;
      .terminal__command {
        margin-left: 10px;
      }
    }
  }
}

.header__arrow {
  flex: 1;
  display: flex;
  align-items: center;
  .arrow__button {
    cursor: pointer;
    @extend %backgroundConfigs;
    width: 32px;
    height: 32px;
    background-size: 24px;
    animation: arrow-animation 700ms ease-in-out infinite alternate;
    background-image: url('../../../public/icons/header/black-arrow-48px.png');
    &_darkMode {
      background-image: url('../../../public/icons/header/white-arrow-48px.png');
    }
    @include media-lg {
      width: 48px;
      height: 48px;
      background-size: 30px;
    }
  }
}

@keyframes arrow-animation {
  from {
    transform: scale(1.15) rotate(90deg) translateX(8px);
    opacity: 1;
  }

  to {
    transform: scale(1) rotate(90deg);
    opacity: 0.5;
  }
}
