@import '../utils/variables';
@import '../utils/config';
@import '../utils/mixins';

$navbar-images: (
  'logo': url('../../public/icons/navbar/logo.png'),
  'animatedLogo': url('../../public/icons/navbar/logoAnimated.png'),
  'black-menuBar': url('../../public/icons/navbar/black-menu-3bars-48px.png'),
  'black-closeMenu': url('../../public/icons/navbar/black-x-48px.png'),
  'white-menuBar': url('../../public/icons/navbar/white-menu-3bars-48px.png'),
  'white-closeMenu': url('../../public/icons/navbar/white-x-48px.png'),
);

.navbar {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  pointer-events: none;
}

.navbar__logo {
  cursor: pointer;
  width: 48px;
  height: 48px;
  @extend %backgroundConfigs;
  background-image: map-get($navbar-images, logo);
  background-color: transparent;
  background-size: 32px 32px;
  z-index: 2;
  transition: all 400ms ease-in-out;
  pointer-events: all;
  &:hover {
    transform: scale(1.2);
    background-image: map-get($navbar-images, animatedLogo);
  }
}

.navbar__button {
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  @extend %backgroundConfigs;
  background-size: 22px 22px;
  background-color: transparent;
  z-index: 999;
  transition: all 600ms ease-in-out;
  pointer-events: all;
  &_disabled {
    background-image: map-get($navbar-images, black-menuBar);
    &_darkMode {
      background-image: map-get($navbar-images, white-menuBar);
    }
  }
  &_active {
    background-image: map-get($navbar-images, black-closeMenu);
    transform: rotate(-90deg);
    &_darkMode {
      background-image: map-get($navbar-images, white-closeMenu);
    }
  }
  @include media-lg {
    display: none;
  }
}

.navbar__menu {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: map-get($light-colors, card-background);
  z-index: 99;
  transition: all 800ms ease;
  &_darkMode {
    background-color: map-get($dark-colors, card-background);
  }
  &_disabled {
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    pointer-events: none;
  }
  &_active {
    clip-path: circle(2000px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
  }
  @include media-lg {
    height: 100%;
    width: auto;
    position: relative;
    flex-flow: row;
    justify-content: flex-end;
    background-color: transparent;
    clip-path: none;
    -webkit-clip-path: none;
    pointer-events: all;
  }
}

.menu__item {
  height: 48px;
  width: 100%;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: map-get($light-colors, regular-text);
  transition: all 200ms ease-in-out;
  &_darkMode {
    color: map-get($dark-colors, regular-text);
  }
  &:hover {
    color: map-get($colors, primary);
  }
  @include media-lg {
    margin: 0 12px;
    font-size: 16px;
  }
}
