@import "@/styles/utils/variables";

.terminal__underslash {
    color: var(--primary);
    font-weight: bolder;
    &_active {
        animation: terminal_underslash_animation 600ms cubic-bezier(1, 0.1, 0.1, 1) infinite
            alternate;
    }
    &_disabled {
        animation: none;
    }
}

@keyframes terminal_underslash_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
