@import '../../utils/variables';
@import '../../utils/config';

.menu__item {
  height: 48px;
  width: 100%;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--regular-text);
  transition: all 300ms ease-in-out;
  &:hover {
    color: var(--primary);
  }
  @include media-lg {
    margin: 0 12px;
    font-size: 16px;
  }
}
