$colors: (
  'primary': #a47dff,
  'white-text': #f5f5f5,
  'special-text': #04D361,
  'weak-shadow': rgba(3, 3, 3, 0.15),
  'regular-shadow': rgba(3, 3, 3, 0.3),
);

$light-colors: (
  'background': #f5f5f5,
  'card-background': #ececec,
  'regular-text': #141414,
);

$dark-colors: (
  'background': #121214,
  'card-background': #212025,
  'regular-text': #f5f5f5
);
