@import '../utils/variables';
@import './fonts';

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Source Code Pro', monospace;
}

img {
  box-sizing: initial;
}

a {
  text-decoration: none;
}
