@import "@/styles/utils/config";

.section {
    display: grid;
    justify-content: stretch;
    justify-items: center;
    gap: 16px;
    padding: 48px 32px;
    min-height: 100vh;
    @include media-md {
        padding: 48px 64px;
        gap: 32px;
    }
    @include media-lg {
        padding: 48px 96px;
        gap: 48px;
        &.flex-h {
            min-height: 70vh;
        }
    }
    @include media-xl {
        padding: 48px 160px;
        &.flex-h {
            min-height: 60vh;
        }
    }
    @include media-xxl {
        padding: 48px 224px;
        &.flex-h {
            min-height: 40vh;
        }
    }
}
