@import '../../utils/config';
@import '../../utils/variables';

.section__content {
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
  }
  .content__image {
    border-radius: 50%;
    width: 128px;
    height: 128px;
  }
  .content__text {
    text-align: start;
    font-size: 1rem;
    margin: 16px 0;
  }
  .content__button {
    cursor: pointer;
    margin: 16px 0;
    padding: 6px 16px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border-radius: 2px;
  }
  @include media-sm {
    .content__image {
      width: 164px;
      height: 164px;
    }
    .content__text,
    .content__button {
      margin: 24px 0;
    }
  }
  @include media-md {
    .content__image {
      width: 132px;
      height: 132px;
    }
    .content__text {
      font-size: 1.2rem;
    }
    .content__button {
      padding: 8px 18px;
    }
  }
  @include media-lg {
    flex-flow: row;
    .content__image {
      width: 196px;
      height: 196px;
    }
    .content__image,
    & > div {
      padding: 0 48px;
    }
  }
  @include media-xl {
    min-height: 50vh;
  }
  @include media-xxl {
    min-height: 40vh;
  }
}
