@import '../../utils/config';
@import '../../utils/mixins';
@import '../../utils/variables';

.section {
  display: grid;
  justify-content: stretch;
  justify-items: center;
  gap: 16px;
  padding: map-get($heights, navbar) 32px;
  min-height: 100vh;
  @include media-md {
    padding: map-get($heights, navbar) 64px;
    gap: 32px;
  }
  @include media-lg {
    padding: map-get($heights, navbar) 96px;
    gap: 48px;
  }
}
