@import "../../utils/config";

.articlesCard {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--regular-text);
    background-color: var(--card-background);
    transition: all 200ms ease-in-out;
    .cardImage {
        max-width: 100%;
        height: auto;
    }
    .cardText {
        position: relative;
        height: 100%;
        bottom: 14px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        padding: 14px 14px 0 14px;
        background-color: var(--card-background);
        z-index: 2;
        & > * {
            padding: 6px 0;
        }
    }
    .cardImage,
    .cardText {
        transition: all 300ms ease-in-out;
    }
    &:hover {
        .cardImage {
            transform: scale(1.05);
        }
        .cardText {
            bottom: 20px;
        }
    }
    .title {
        font-size: 1.25rem;
    }
    .date {
        color: var(--article-card-opaque-text);
    }
    .author,
    .date {
        font-size: 1rem;
    }
}
