@import '../../utils/config';

.articlesCard {
  position: relative;
  cursor: pointer;
  max-height: 300px;
  color: var(--regular-text);
  background-color: var(--card-background);
  box-shadow: 1px 1px 2px 1px var(--weak-shadow);
  transition: all 200ms ease-in-out;
  @include media-xl {
    max-height: 360px;
  }
  .cardImage {
    overflow: hidden;
    .image {
      max-width: 100%;
    }
  }
  .cardText {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    bottom: -20%;
    padding: 16px;
    background-color: var(--card-background);
    z-index: 2;
    & > * {
      padding: 8px 0;
    }
    @include media-lg {
      padding: 24px 16px;
    }
  }
  .image, .cardText {
    transition: all 300ms ease-in-out;
  }
  &:hover {
    box-shadow: 1px 1px 3px 2px var(--weak-shadow);
    .image {
      transform: scale(1.05);
    }
    .cardText {
      padding: 24px 16px;
      @include media-xl {
        padding: 32px 16px;
      }
    }
  }
  .title {
    font-size: 22px;
  }
  .date {
    color: var(--article-card-opaque-text);
  }
  .author, .date {
    font-size: 14px;
  }
}
